/* Navigation Bar */
header {
  overflow: auto;
}

header .searchbar{
  margin-left: 50px;
  margin-top: 40px;
}
header .logo{
  float: right;
  width: 400px;
  cursor: pointer;
}
nav {
	background-color: rgb(255, 14, 14);
  height: 36px ;
}

nav ul {
	list-style-type: none;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

nav ul,
a {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    background-color: rgb(255, 14, 14);
    color: #FFFFFF;
    padding: 0 10px;
    text-align: center;
    border: 0px;
    margin-top: 3px;
}

nav a {
	display: block;
}

nav .plat {
	display: none;
  position: absolute;
  z-index: 100;
}

nav .av {
	float: left;
	margin-left: 1px;
}

nav .av:hover .plat {
	display: block;
	clear: both;
}

nav .plat li:hover>a {
	background-color: rgb(255, 129, 129);
}


/* Navigation Bar */


/* Landing page_ sldes Show */

.mySlides {
	display: none
}

.w3-left,
.w3-right,
.w3-badge {
	cursor: pointer
}

.w3-badge {
	height: 13px;
	width: 13px;
	padding: 0
}


/* Landing page_ sldes Show */


/* Landing page_ Image galeray */

div.img {
	border: 1px solid #ccc;
}

div.img:hover {
	border: 1px solid #777;
}

div.img img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 0px;
	text-align: center;
}

* {
	box-sizing: border-box;
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}

@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.fl {
  float: left;
}

/* Style the list inside the menu */

.menu {
	float: right;
	width: 20%;
}

.menuitem {
	padding: 8px;
	margin-top: 7px;
	border-bottom: 1px solid #f1f1f1;
}

.main {
	float: left;
	width: 60%;
	padding: 0 20px;
	overflow: hidden;
}

.about-banner-img,
.donate-banner-img {
	width: 100%;
	height: 450px;
}

.about-content,
.donate-content,
.index-content {
	max-width: 960px;
	margin: auto;
	overflow: auto;
}

.donation-title {
	background-color: rgba(255, 222, 222);
	padding: 10px 20px;
	border-radius: 5px;
	color: rgba(255, 53, 97, 0.925);
	font-weight: bold;
	margin-bottom: 100px;
}

.donation-title-small {
	color: rgba(255, 53, 97, 0.925);
	margin-bottom: 10px;
}

.donation-options {
	display: flex;
	justify-content: space-between;
}

.index-options {
	display: flex;
  justify-content: space-around;
}

.donation-option {
	width: 200px;
	height: 200px;
	border: 1px solid red;
	float: left;
	text-align: center;
}
.donation-Login {
	width: 400px;
	height: 300px;
	border: 1px solid red;
	float: left;
	text-align: center;
}
.donation-Login p {
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
}
.donation-option p {
	font-size: 30px;
	font-weight: bold;
	margin-top: 50px;
}
.Donation-Login  p {
	font-size: 10px;
	font-weight: bold;
	margin-top: 5px;
}
.donation-option button {
	width: 100px;
	padding: 10px;
	margin: auto;
	background-color: rgba(221, 0, 0, 0.925);
	color: #fff;
	border: none;
}

.donation-option input {
	width: 100px;
	display: block;
	margin: -30px 0 10px 50px
}

.donation-Login button {
	width: 200px;
	padding: 10px;
	margin-bottom: auto;
	background-color: rgba(221, 0, 0, 0.925);
	color: #fff;
	border: none;
}
.Donation-Login button {
	width: 50px;
	padding:10px;
	margin-top: 10px;
	background-color: rgb(255, 125, 125);
	color: #fff;
	border: none;
}

.bg-light {
	background-color: rgba(255, 222, 222);
	color: rgba(255, 53, 97, 0.925);
}

.bg-dark {
	background-color: rgba(255, 53, 97, 0.925) !important;
	color: #fff;
}


/* Style the footer */

footer {
	position: relative;
	width: 100%;
	background-color: red;
	color: white;
  clear: left;
  overflow: auto;
  padding: 20px;
  margin-top: 30px;
}

footer .column{
  width: 33.3%;
}

footer .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer ul li {
  display: block;
  text-decoration: none;
}

footer ul, footer a {
  padding: 0;
}

footer img {
  float: left;
  width: 40px;
  cursor: pointer;

}

@media only screen and (max-width:960px) {
	/* For tablets: */
	.main {
		width: 80%;
		padding: 0;
	}
	.right {
		width: 100%;
	}
	.donation-options {
		display: block;
	}
	.donation-option {
		float: left;
		margin: 40px;
	}
}

@media only screen and (max-width:500px) {
	/* For mobile phones: */
	.menu,
	.main,
	.right {
		width: 100%;
	}
}